@font-face {
    font-family: 'open_sans';
    src: url('open_sans/opensans-bold-webfont.woff2') format('woff2'),
         url('open_sans/opensans-bold-webfont.woff') format('woff');
    font-weight: bold;
    font-style: normal;

}

@font-face {
    font-family: 'open_sans';
    src: url('open_sans/opensans-regular-webfont.woff2') format('woff2'),
         url('open_sans/opensans-regular-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;

}

@font-face {
    font-family: 'open_sans_condensed';
    src: url('open_sans_condensed/opensanscondensed-bold-webfont.woff2') format('woff2'),
         url('open_sans_condensed/opensanscondensed-bold-webfont.woff') format('woff');
    font-weight: bold;
    font-style: normal;

}